body {
    font-size: 40px;
}

* {
    box-sizing: border-box;
}

.block,
.inline {
    background: #6d6240ce;
}

.block {
    padding: 30px;
    margin: 20px;
}


/* ========================= */
.block {
    width: 450px;
    display: inline-block;
    border: 0.5px solid #000;
    border-radius: 63px;
    box-shadow: inset -1px 0px 20px 4px;
}

.inline {
    border: 1px solid #000;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
    overflow: auto;
    background: #ffffff;
    height: 1250px;
}

.img {}