.block1 {
    font-family: "Shafarik", "system-ui";
    color: blue;
    font-weight: 400px;
}

.block2 {
    font-family: "Caveat", "cursive";
    color: rgb(201, 201, 147);
    font-weight: 670;
    line-height: 20px;
    text-align: right;
    font-style: normal;
}

.block3 {
    font-family: "Kosugi", sans-serif;
    color: blue;
    font-weight: 350px;
    line-height: 18px;
    text-align: justify;
    font-style: normal;
}
.block4 {
    font-family: "Rampart One", sans-serif;
    font-weight: 675px;
    font-style: normal;
    color: red;
}
.block5 {
    font-family: "Rubik Moonrocks", sans-serif;
    color: green;
    font-weight: 1000px;
    text-align: end;
    font-style: normal;
}